body {
  background-color: #020d18;
  background-image: url("../images/background-1.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  /* background: -webkit-linear-gradient(180deg, #000000, #060c1f 70%); */
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #151f30;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f80ed;
  outline: 1px solid #151f30;
}
