header {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

header div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
}

.logo {
  width: 300px;
}
