.header {
  display: grid;
  justify-content: center;
  gap: 40px;
}

.header div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin-top: 40px;
}

.logo {
  width: 180px;
}
